html, body {
  height: 100%;
}

body {
  width: 100%;
  margin: 0%;
}

.wrapper {
  min-height:100%;
  position:relative;
}

nav {
  height: 100px;
  font-family: Lato;
  font-family: Helvetica;
  font-weight: bold;
  color: rgb(64,64,64);
  background: white !important;
}

nav .navbar-brand {
  overflow: hidden;
  width: 250px;
  height: 200px;
}

nav .navbar-brand img {
  width: 100%;
}

nav .navbar-right {
  margin-top: 25px;
}

nav .navbar-right a {
  transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  color: rgb(64,64,64) !important;
}

nav .navbar-right a:hover{
  color: #e05944 !important;
}
nav .navbar-right a .glyphicon-home {
color: #529ba8;
}

nav .navbar-right a .glyphicon-info-sign {
color: #e05944;
}

nav .navbar-right a .fa-newspaper-o {
color: #529ba8;
}

nav .navbar-right a .glyphicon-envelope {
color: #e05944;
}

nav .navbar-right a .fa-car {
color: #529ba8;
}

nav .navbar-right a .glyphicon-heart {
color: #e05944;
}

nav .navbar-right a .glyphicon-usd {
color: #529ba8;
}


.main {
    padding:10px;
    padding-bottom:80px;   /* Height of the footer element */
}

#footer {
    width:100%;
    height:80px;
    position:absolute;
    bottom:0;
    left:0;
    background: #529ba8;
}

#footer .container {
  width: 90%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}