html, body {
  height: 100%;
}

body {
  width: 100%;
  margin: 0%;
}

.wrapper {
  min-height:100%;
  position:relative;
}

.navbar {margin-bottom: 0 !important}

nav {
  height: 100px;
  font-family: Lato;
  font-family: Helvetica;
  font-weight: bold;
  color: rgb(64,64,64);
  background: white !important;
}

nav .navbar-header img {
  margin-top: 25px;
  height: 60px;
}

nav .navbar-right {
  margin-top: 25px;
}

nav .navbar-right a {
  transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -webkit-transition: color 0.5s ease;
  color: rgb(64,64,64) !important;
}

nav .navbar-right a:hover{
  color: #e05944 !important;
}
nav .navbar-right a .glyphicon-home {
color: #529ba8;
}

nav .navbar-right a .glyphicon-info-sign {
color: #e05944;
}

nav .navbar-right a .fa-newspaper-o {
color: #529ba8;
}

nav .navbar-right a .glyphicon-envelope {
color: #e05944;
}

nav .navbar-right a .fa-car {
color: #529ba8;
}

nav .navbar-right a .glyphicon-heart {
color: #e05944;
}

nav .navbar-right a .glyphicon-usd {
color: #529ba8;
}

.jumbotron {
  margin-bottom: 0 !important;
}

.main {
  overflow: hidden;
  width: 100%;
  padding-bottom:200px;   /* Height of the footer element */
}

.section {
  float: left;
  width: 100%;
  line-height: 1.7;
  font-family: Lato;
}

.section-content {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.homepage .hp-first {
  background: white;
  padding-bottom: 5%;
}

.homepage h2 {
  text-align:center;
  margin-bottom: 5%;
  font-weight: bold;
}

.carousel-inner .item {
    width: 100%;
    height: 400px;
    width: 1000px; /* change to responsive */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.carousel-inner .item img{
  width: 100%;
  height: 400px;
  margin-left:6%; /*change to some auto */
  margin-right:auto;
  z-index: 10;
}

.carousel-inner .item .carousel-statement {
  margin-top: -12%;
  margin-left: 10%;
  z-index: 998;
  color:white;
  width:60%;
  text-align:left;
}

.homepage .hp-first .features{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.homepage .hp-first .features .feature-icon{
  text-align:center;
  border-radius: 100%;
  height: 150px;
  width: 150px;
  color:white;
  margin-left:auto;
  margin-right:auto;
}

.homepage .hp-first .features .feature-icon .fa-car{
  font-size: 60px;
  line-height: 150px;
}

.homepage .hp-first .features .feature-icon .fa-heart{
  font-size: 60px;
  line-height: 150px;
}

.homepage .hp-first .features .feature-icon .fa-dollar{
  font-size: 60px;
  line-height: 150px;
}

.homepage .hp-first .features h6 {
  text-align: center;
}

.homepage .hp-first .features .feature-description {
  margin-top: 10%;
}

.homepage .mission {
  text-align: center;
  background-color: #399eaa;
  color: white;
  font-size:50px;
}

.homepage .mission h2 {
  margin-bottom: 2%;
}

.homepage .mission h4 {
  line-height: 1.7;
}

.homepage .progress {
  /*min-height: 200px;
  max-height: 300px;*/
  height: 300px;
  font-size: 40px;
  color: white;
  background-image: url('../images/hands4-itn.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.homepage .progress h1 {
  text-align:center;
  font-size: 50px;
}

.homepage .progress .progress-steps{
  margin-top: 3%;
  text-align: center;
  display:block;
  margin-left:auto;
  margin-right:auto;
}

.homepage .progress .progress-steps .numbers{
  margin-bottom: -7%;
}

.homepage .rider-stories {
  background: #afcace;
}

.homepage .rider-stories .rider-stories-text {
  background: #f8fafa;
  color: #666666;
  padding: 26px 39px;
  border-radius: 4px;
  margin-left: 1%;
  margin-right: 1%;
}

.homepage .regeneron {
  background: white;
  font-size: 20px;
}

.homepage .regeneron h2 {
  margin-bottom:2%;
}

/* SERVICES */

.services .first-hero {
  background-image: url('../../images/man_on_bench.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
}

.services .first-hero h1{
  color:white;
  margin-top:170px;
  margin-left: 5%;
}

.services .operate {
  background: white;
}

.services .operate h2 {
  color: #9b557e;
  font-weight: bold;
}

.services .operate img {
  height: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.services .operate h3 {
  color: #9b557e;
  font-weight: bold;
  text-align: center;
  margin-top: 4%;
  margin-left: 40%;
}

.services .jumbo-title {
  background-color: #399eaa;
  color: white;
  text-align: center;
  padding: 2%;
}

.services .service-features {
  background: white;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

.services .service-features .col-sm-4 {
  text-align:center;
  padding: 2%;
}
.services .service-features .col-sm-4 .icon-wrap {
  font-size: 50px;
}
.services .service-features .col-sm-4 .icon-legend {
  margin-top: 7%;
  font-weight: bold;
  font-size: 18px;
}

.services .operating-radius {
  text-align:center;
}
.services .operating-radius h3 {
  margin-bottom: 5%;
}
.services .operating-radius button {
  margin-top: 3%;
  background: #399eaa;
}

.services .dignified h4 {
  text-align:center;
}
.services .dignified p {
  text-align:justify;
  font-size: 18px;
}
.services .dignified .img-circle {
  border-radius: 100%;
  overflow: hidden;
  height: 250px;
  width: 250px;
}


.news .first-hero {
  background-image: url('../../images/itn-people-images/seniors-social-coffee.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  opacity: 0.6;
}
.news .first-hero h1 {
  color:white;
  margin-top: 170px;
  margin-left: 5%;
}
.news .news-content {
  min-height: 400px;
  padding-top: 75px;
  padding-bottom: 75px;
}
.news .news-content h3 {
  font-size:30px;
  color:#399eaa;
  text-transform: uppercase;
}
.news .news-content  img {
  width: 250px;
  margin-left: 65%;
}
.news .news-content ul{
  margin-top: 50px;
  list-style-type: none;
  text-align:right;
  color: #b95856;
  font-weight: bold;
  line-height: 2;
  font-size: 18px;  
}

.news .news-content ul li a{color: #b95856;}


.contact .first-hero {
  background-image: url('../../images/itn-people-images/ITNLanier_mirror.jpg');
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  opacity: 0.5;
}

.contact .first-hero h1{
  color:white;
  margin-top:170px;
  margin-left: 5%;
}

    
#footer {
    width:100%;
    height:200px;
    position:absolute;
    bottom:0;
    left:0;
    /*background: #529ba8;*/
    background: #399eaa;
}

#footer .container ul {
  list-style-type: none;
}

#footer .container {
  width: 90%;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 10px;
  color:white
}

#footer .container hr {
  height: 1px;
  border-color: #e05944;
  background-color: #e05944;
  color: #e05944; 
  width: 80px;
  margin-left: 0;
}

#footer .container .footer-title {
  margin-bottom:2%;
}

#footer .container input {
  width: 300px;
  height: 50px;
}

#footer .container .social-icons i {
  font-size: 25px;
  margin-left:20%;
}

#footer .container .social-icon-border {
  border-radius: 100%;
  padding: 10px;
  border: 1px solid blue;
  height: 50px;
  width: 50px;
  margin-left:auto;
  margin-right:auto;
  margin:2%;
}

#footer .container .fb {
  border: 2px solid #3a5795;
}
#footer .container .fb:hover {
  background: #3a5795;
}
#footer .container .fb:hover .fa {
  color:white;
}
#footer .container .fb .fa {
    color: #3a5795;
}

#footer .container .tw {
  border: 2px solid #cf3427;
}
#footer .container .tw:hover {
  background: #cf3427;
}
#footer .container .tw:hover .fa {
  color:white;
}
#footer .container .tw .fa {
    color: #cf3427;
    margin-left: 8% !important;
}

#footer .container .yt {
  border: 2px solid #0177b4;
}
#footer .container .yt:hover {
  background:#0177b4;
}
#footer .container .yt:hover .fa {
  color:white;
}
#footer .container .yt .fa {
    color: #0177b4;
    margin-left: 8% !important;
}

#footer .container .in {
  border: 2px solid #78bdf1;
}
#footer .container .in:hover {
  background:#78bdf1;
}
#footer .container .in:hover .fa {
  color:white;
}
#footer .container .in .fa {
    color: #78bdf1;
    margin-left: 8% !important;
}

#footer .container .btn-search {
  border: none;
  margin-left: -33px;
  margin-top: 10px;
}