<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ITN Lanier - new</title>
  <meta name="description" content="">
  <meta name="Sam Guergenenov" content="">
  
  <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  
  <link rel="stylesheet" href="../css/index.css">
</head>



<body>
  <div class="wrapper">
  
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <img src="../images/custom_logo.png"/>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
        <ul class="nav navbar-nav navbar-right">
          
          <li>
            <a href="../index.html"><span class="glyphicon glyphicon-home"></span> 
              HOME
            </a>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-info-sign"></span> 
              ABOUT 
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="services.html">What We Do</a></li>
              <li><a href="organization.html">Our Organization</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="rider-stories.html">Unique Rider Stories</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </li>
          
          <li>
            <a href="news.html"><i class="fa fa-newspaper-o"></i> 
              NEWS
            </a>
          </li>
          <li>
            <a href="contact.html"><span class="glyphicon glyphicon-envelope"></span> 
              CONTACT
            </a>
          </li>
          <li>
            <a href="#"><i class="fa fa-car"></i> 
              RIDE WITH US
            </a>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-heart"></span> 
              WAYS TO GIVE
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="donate.html">Donate</a></li>
              <li><a href="corporate.html">Corporate Partnership</a></li>
              <li><a href="community.html">Community Support</a></li>
            </ul>
          </li>
          
          <li>
            <a href="payment.html"><span class="glyphicon glyphicon-usd"></span> 
              MAKE A PAYMENT
            </a>
          </li>
        </ul>

      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>

  <div class="main">
    
    <div class="donate">
      
      <div class="jumbotron section first-hero" style="height:400px">
        <h1>Donate</h1>
      </div><!--first-hero-->
      
      <div class="jumbotron section">
        <div class="container">
          <div class="row donate-type">
            <div class="col-sm-4">
              <h2>Donate By Card</h2>
              <hr align="center" width="35%">
            </div>
            <div class="col-sm-8 description">
              <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
              	<input name="cmd" type="hidden" value="_s-xclick" /> 
                <input name="hosted_button_id" type="hidden" value="GMQ4VPJ2YF96N" /> 
                <input alt="PayPal - The safer, easier way to pay online!" border="0" name="submit" src="http://itnamerica.org/wp-content/uploads/2018/01/PayPal-Donate-Button.png" type="image"/> 
                <img alt="" border="0" height="1" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" />
              </form>
            </div><!--description-->
          </div><!--row-->
          
          <div class="row donate-type">
            <div class="col-sm-4">
              <h2>Donate By Check</h2>
              <hr align="center" width="35%">
            </div>
            <div class="col-sm-8 description">
              <img src="../images/icons/checkbook-icon.png" id="checkbook-icon"/>
              <p style="display:inline-block">
                Mail your check to:<br>
                ITNLanier<br>
                PO Box 1183<br>
                Gainesville, Georgia
              </p>
            </div><!--description-->
          </div><!--row-->
          
          <div class="row donate-type">
            <div class="col-sm-4">
              <h2>Donate Your Car</h2>
              <hr align="center" width="35%">
            </div>
            <div class="col-sm-8 description">
                <div class="col-sm-8">
                    <div class="form-area">  
                        <!-- <form role="form"> -->
                          <form action="mailto:info@itnlanier.org" method="post" enctype="text/plain">
                        <br style="clear:both">
                                    <h3 style="margin-bottom: 25px; text-align: center;">Contact us</h3>
                    				<div class="form-group">
                						<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
                					</div>
                					<div class="form-group">
                						<input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
                					</div>
                					<div class="form-group">
                						<input type="text" class="form-control" id="mobile" name="mobile" placeholder="Mobile Number" required>
                					</div>
                					<div class="form-group">
                						<input type="text" class="form-control" id="subject" name="subject" placeholder="Subject" required>
                					</div>
                          <div class="form-group">
                          <textarea class="form-control" type="textarea" id="message" placeholder="Message" maxlength="140" rows="7"></textarea>
                          </div>
                        <input type="submit" id="submit" class="btn btn-primary pull-right itn-green-bg" value="Send" style="margin-left:2%">
                        <input type="reset" class="btn btn-primary pull-right itn-green-bg" value="Reset">
                        
                        </form>
                    </div>
                  </div>
            </div><!--description-->
          </div><!--row-->
          
        </div><!--container-->
      </div><!--section-->
    
    </div><!--donate-->
    
    

  <div class=""></div>
  </div><!--MAIN-->
  
  <div id="footer">
    <div class="container">
        <div class="col-sm-4">
          <div class="footer-title">ITN GATEWAY</div>
          <hr>
          <ul>
            <li>Log In</li>
            <li>Privacy Policy</li>
            <li>Site Map</li>
            <li>Contact</li>
          </ul>
        </div>
        
        <div class="col-sm-4 social-icons">
          <div class="footer-title">JOIN OUR COMMUNITY</div>
          <hr>
          <div class="row">
            <a href="http://www.facebook.com/itnamerica"><div class="col-sm-3 social-icon-border fb">
              <i class="fa fa-facebook"></i>
            </div></a>
            <a href="http://www.twitter.com/itnamerica"><div class="col-sm-3 social-icon-border tw">
              <i class="fa fa-twitter"></i>
            </div></a>
            <a href="http://www.youtube.com/itnamerica"><div class="col-sm-3 social-icon-border yt">
              <i class="fa fa-youtube"></i>
            </div></a>
            <a href="http://www.instagram.com/itnamerica"><div class="col-sm-3 social-icon-border in">
              <i class="fa fa-instagram"></i>
            </div></a>
          </div>
        </div>
        
        <div class="col-sm-4">
          <div class="footer-title">SEARCH</div>
          <hr>
          <form class="navbar-form navbar-left">
            <span class="form-group row">
              <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <div class="col-sm-2">
                <button type="submit" class="btn btn-default btn-search">
                  <i class="fa fa-search"></i>
                </button>
              </div>
            </span>
          </form>
        </div>
        
    </div>
  </div><!-- END FOOTER -->
  
  </div>
  
</div>
  <script src="../app.js"></script>
</body>
</html>
