<html lang="en">
<head>
  <meta charset="utf-8">

  <title>ITN Lanier - new</title>
  <meta name="description" content="">
  <meta name="Sam Guergenenov" content="">
  
  <link rel="stylesheet" href="../node_modules/font-awesome/css/font-awesome.min.css">
  <script src="../node_modules/jquery/dist/jquery.min.js"></script>
  <script src="../node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.css">
  
  <link rel="stylesheet" href="../css/index.css?version=3">
</head>



<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <a href="../index.html">
          <img src="../images/custom_logo.png"/>
        </a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    
        <ul class="nav navbar-nav navbar-right">
          
          <li>
            <a href="../index.html"><span class="glyphicon glyphicon-home"></span> 
              HOME
            </a>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-info-sign"></span> 
              ABOUT US
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="services.html">What We Do</a></li>
              <li><a href="organization.html">Our Organization</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="rider-stories.html">Unique Rider Stories</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="#">Blog</a></li>
            </ul>
          </li>
          
          <li>
            <a href="news.html"><i class="fa fa-newspaper-o"></i> 
              NEWS
            </a>
          </li>
          <li>
            <a href="contact.html"><span class="glyphicon glyphicon-envelope"></span> 
              CONTACT
            </a>
          </li>
        
          
          
          <li>
            <a href="#"><i class="fa fa-car"></i> 
              RIDE WITH US
            </a>
          </li>
          
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <span class="glyphicon glyphicon-heart"></span> 
              WAYS TO GIVE
              <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="donate.html">Donate</a></li>
              <li><a href="corporate.html">Corporate Partnership</a></li>
              <li><a href="community.html">Community Support</a></li>
            </ul>
          </li>
          
          <li>
            <a href="payment.html"><span class="glyphicon glyphicon-usd"></span> 
              MAKE A PAYMENT
            </a>
          </li>
        
          
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
  </nav>
</body>
</html>